/** ==========================
 * Import custom fonts
 ==========================*/

@font-face {
    font-family: "Popin";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Popin";
    src: url("../fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Popin";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Popin";
    src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
/** ==========================
 * Custom style
 ==========================*/
body, button, div, p, h1, h2, h3, h4, h5, h6, span, a, input, label {
    font-family: "Popin", sans-serif !important;
}
body {
    background-color: #f9f7f6;
    overflow: unset!important
}

a {
    color: inherit;
}

.pointer {
    cursor: pointer;
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
