* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f5f8;
  color: #222;
}

.booklist {
  width: 40vw;
  max-width: 800px;
  margin: 3rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(1, 1fr);
  }
}

.text-info {
  color: #2d68c0 !important;
}
